<div class="home-feed-container">
    <div class="tweet-input-box">
        <div class="tweet-input-header">
            <h2>Home</h2>
           <img (click)="darkMode()" *ngIf="!isDarkMode" height="40px" width="40px" src=".../../../../assets/icons/light-mode.png" alt="" srcset="">
           <img (click)="darkMode()" *ngIf="isDarkMode" height="30px" width="30px" src=".../../../../assets/icons/dark-mode.png" alt="" srcset=""> 
            <input style="display: none;"  id="theme-toggle" (change)="darkMode()" type="checkbox">
        </div>
        <div class="tweet-input">
            <div class="profile-pic">
                <img src="../../assets/icons/profile.png" alt="" srcset="">
            </div>
            <div class="input-div">
                <textarea [(ngModel)]= "tweetObj['tweet']" placeholder="What's happening?" name="tweet" id=""></textarea>
                <div class="showImage" *ngIf="media">
                    <img [src]="this.media" alt="" srcset="">
                </div>
                <div class="input-toolbar">
                    <div >
                        <span>
                            <input name="file"  (change)="selectFile($event)" accept="image/jpeg,image/png"  type="file" id="image-type">
                            <img (click)="mediaInput('image-type')" src="../../assets/icons/image.png" alt="" srcset="">
                        </span>
                        <span>
                            <input name="file" (change)="selectFile($event)" type="file" accept="image/gif" id="gif-type">
                            <img   (click)="mediaInput('gif-type')" src="../../assets/icons/gif.png" alt="" srcset="">
                        </span>
                        <span>
                            <input name="file" (change)="selectFile($event)" type="file" accept="video/*" id="video-type">
                            <img (click)="mediaInput('video-type')" src="../../assets/icons/emoji.png" alt="" srcset="">
                        </span>
                    </div>       
                    <button [disabled]="!tweetObj.tweet" (click)="postTweet()" class="tweet-button">Tweet</button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;" *ngFor="let tweet of tweets,let i=index">
        <app-tweet-card (tweetReaction)="updateTweet($event)" [tweet]="tweet" [index]="i" ></app-tweet-card>
    </div>
</div>